@charset "utf-8";

@import url(reset.css);
@font-face {
    font-family: 'RIDIBatang';
    src: url('../asset/fonts/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Common */
:root {
    /* Color */
    --bg-color1: #584c99;
    --bg-color2: #d5d9e1;
    --bg-color3: #f5f7fb;
    --point-color: #7161c4;
    --black: #000;
    --white: #fff;

    /* Size */
    --size0_125: 0.125rem;
    --size0_25: 0.25rem;
    --size0_5: 0.5rem;
    --size1: 1rem;
    --size1_25: 1.25rem;
    --size1_5: 1.5rem;
    --size2: 2rem;
    --size3: 3rem;
    --size4: 4rem;
    --size5: 5rem;
    --size6: 6rem;
    --size7: 7rem;

    height: 100%;
    font-family: "RIDIBatang", sans-serif;
    font-size: 16px;
    color: #000;
    word-break: keep-all;
}

::selection{
    background: var(--point-color);
    color: var(--white);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}
/* // Common */


/* Layout */
.wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--size5);
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--bg-color1) 50%, var(--bg-color2) 50%);
    overflow: hidden;
}

.container {
    position: relative;
    padding: var(--size5);
    width: 100%;
    height: 100%;
    background: var(--bg-color3);
    box-shadow: rgba(0, 0, 0, 0.15) 0 var(--size0_25) var(--size0_25) 0;
}

header .inner{display:flex;align-items:flex-end;justify-content:space-between;}
header .logo{display:flex;flex-direction:column;font-size:var(--size1_5);font-weight:700;justify-content:center;}
header .logo p{margin-top:var(--size0_5);font-size:var(--size1);font-weight:400;}
header nav{display:none;}
header .list{display:flex;}
header .list li + li{margin-left: var(--size2);}
header .list li button{padding: var(--size0_5) 0;}
header .list li button.active{font-weight:700;border-bottom:var(--size0_25) solid var(--point-color);}

main{margin-top:var(--size4);padding-right:var(--size0_5);height:calc(100% - var(--size7));}
main .scroll-content{display:flex;}
main .tab-content{width:100%;}

footer{position:absolute;bottom:0;left:0;display:flex;padding:0 var(--size2) var(--size2) var(--size2);width:100%;justify-content:center;}
footer .list{display:flex;align-items:center;}
footer .list li{position:relative;}
footer .list li + li{padding-left:var(--size2);}
footer .list li + li:before{position:absolute;top:50%;left:var(--size1);content:"|";text-indent:-1px;transform:translateY(-50%);}
footer .list li a{padding:var(--size0_25) var(--size0_5);color:var(--white);background:var(--point-color);border-radius:var(--size0_5);}
/* // Layout */


/* Contents */
.time-line h2{margin-bottom:var(--size1);padding-left:var(--size0_5);font-size:var(--size1_25);border-left:var(--size0_25) solid var(--point-color);}
.time-line li{display:flex;align-items:center;}
.time-line .time{display:flex;}
.time-line .dash{margin:0 var(--size1);text-align:center;}
.time-line .text-area{position:relative;padding:var(--size2) 0 var(--size2) var(--size6);}
.time-line .text-area:before{position:absolute;top:0;left:var(--size3);content:"";width:var(--size0_25);height:100%;background:var(--point-color);transform:translateX(-50%);}
.time-line .text-area:after{position:absolute;top:50%;left:var(--size3);content:"";width:var(--size1);height:var(--size1);background:var(--white);border:var(--size0_25) solid var(--point-color);border-radius:50%;transform:translate(-50%, -50%);}
.time-line .text-area *{line-height:var(--size1_25);}
.time-line .text-area > * + *{margin-top:var(--size0_5);}
/* // Contents */



@media (max-width: 767px) {

    /* Common */
    :root{
        font-size:14px;
    }
    /* // Common */

    /* Layout */
    .wrap {
        padding: var(--size2);
        background: linear-gradient(to bottom, var(--bg-color1) 50%, var(--bg-color2) 50%);
    }

    header nav{display:block;}

    main .tab-content{display:none;}
    main .tab-content.active{display:block;}

    .container {
        padding: var(--size2) var(--size2) var(--size5) var(--size2);
    }
    /* // Layout */

    /* Contents */
    .time-line .time{flex-direction:column;}
    .time-line .dash{margin:0;}
    .time-line .text-area{padding-left:var(--size3);}
    .time-line .text-area:before{left:var(--size1_5);}
    .time-line .text-area:after{left:var(--size1_5);}
    /* // Contents */

}

@media (max-width: 320px) {

    /* Common */
    :root{
        font-size:12px;
    }
    /* // Common */

}
